name: stacked_notification_cards
description: A Flutter implementation of iOS style stacked notifications which can be dismissed.
repository: https://github.com/OakTree-Apps/stacked_notification_cards


version: 0.1.0-dev.3

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_slidable: ^3.0.0
  intl: ^0.18.1

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
