name: stacked_notification_cards
description: A Flutter implementation of iOS style stacked notifications which can be dismissed.
repository: https://github.com/OakTree-Apps/stacked_notification_cards


version: 0.1.0-dev.1

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_slidable: ^1.0.0-dev.9
  intl: ^0.17.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
